.App {
  width: 100%;
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
}

.App-body {
  padding: 0px 110px;
  position: relative;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.urls{
  position:fixed;
  bottom: 25px;
  right:120px;
}

.urls a{
  font-size: 150%;
  padding:5px;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right:36px;
  top: 36px;
}

.menu-item{
  font:40px;
  color: white;
}

.menu-item:hover{
  color: red;
  text-decoration: none;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

.bm-burger-bars:hover {
  background: #000!important;
  opacity:1!important;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #272838;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #272838;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}